<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AnyLogAnalyzer" type="Mkko.Configuration.AnyLogAnalyzerElement, AnyLogAnalyzerCore"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs/"/>
    </assemblyBinding>
  </runtime>

  <AnyLogAnalyzer>
    <executionEnvironments>
      <executionEnvironment id="default" returnNumberOfEvents="false"/>

      <!-- example section -->
      <!--
      <executionEnvironment id="html" returnNumberOfEvents="true">
        <definitionsFile file="./mydefinition.json" type="json" />
        <logfile file="./my.log" type="plain-text" />
        <htmlReportSettings output="./results.html" type="dynamic">
          <columns>
            <column id="category" sortable="true" filterable="true" />
            <column id="element" />
          </columns>
        </htmlReportSettings>
      </executionEnvironment>
      -->
    </executionEnvironments>
  </AnyLogAnalyzer>
</configuration>
